/** Colors */
$grey: #AAAFBD;
$light-grey: #B1B9DB;
$dark-grey: #5C5F6B;
$disabled-border: #D0D3DA;
$white: #fff;
$disabled: #F8F8FA;
$black: #000000;
$dark-blue: #052DCC;
$blue: #0637F9;
$light-blue: #2E57FA;
$blue-border: #0637F9;
$green: #16BA44;
$overlay: #373E5AE5;

/** Font sizes */
$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 18px;
$font-l: 24px;

/** Button widths */
$button-width-l: 634px;
$button-width-m: 372px;
$button-width-s: 248px;
$button-width-xs: 154px;
$button-width-xxs: 112px;

/** Breakpoints */
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 480px;